## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1=random.sample(range(100),k=80)
print(sample_list_1)

[10, 65, 35, 78, 62, 93, 25, 74, 44, 20, 97, 83, 36, 96, 39, 59, 86, 15, 82, 17, 60, 79, 23, 27, 85, 33, 88, 98, 64, 56, 45, 66, 11, 18, 50, 21, 58, 2, 32, 84, 24, 22, 12, 26, 28, 1, 41, 34, 72, 71, 90, 49, 6, 29, 19, 52, 31, 43, 4, 37, 14, 67, 5, 38, 94, 92, 95, 42, 3, 77, 30, 51, 55, 73, 9, 91, 13, 68, 40, 63]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1=set(sample_list_1)
print(set1)

{1, 2, 3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 49, 50, 51, 52, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 77, 78, 79, 82, 83, 84, 85, 86, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98}

In [4]:
print(len(sample_list_1))

80

In [5]:
print(len(set1))

80

In [6]:
The length of my set is the same as my list because the random selection was done without replacement.

SyntaxError: invalid syntax (Temp/ipykernel_5684/936333970.py, line 1)

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [9]:
sample_list_2=random.choices(range(100),k=80)
print(sample_list_2)

[6, 10, 63, 32, 49, 28, 88, 94, 20, 63, 82, 37, 11, 12, 35, 45, 16, 73, 79, 9, 44, 81, 61, 90, 95, 81, 58, 79, 87, 80, 63, 81, 3, 1, 5, 48, 38, 35, 37, 9, 77, 87, 12, 39, 20, 92, 73, 19, 98, 39, 28, 72, 46, 73, 23, 60, 10, 45, 72, 50, 7, 64, 42, 58, 14, 17, 8, 45, 21, 43, 6, 47, 97, 72, 29, 45, 62, 22, 31, 91]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [10]:
set2=set(sample_list_2)
print(set2)

{1, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16, 17, 19, 20, 21, 22, 23, 28, 29, 31, 32, 35, 37, 38, 39, 42, 43, 44, 45, 46, 47, 48, 49, 50, 58, 60, 61, 62, 63, 64, 72, 73, 77, 79, 80, 81, 82, 87, 88, 90, 91, 92, 94, 95, 97, 98}

In [ ]:
The length of set2 is shorter than the list because the random selection of numbers was done with replacement.

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [11]:
set3=set1-set2
print(set3)

{2, 4, 13, 15, 18, 24, 25, 26, 27, 30, 33, 34, 36, 40, 41, 51, 52, 55, 56, 59, 65, 66, 67, 68, 71, 74, 78, 83, 84, 85, 86, 93, 96}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [12]:
set4=set2-set1
print(set4)

{7, 8, 46, 47, 16, 48, 80, 81, 87, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [19]:
set5=set1&set2
print(set5)

{1, 3, 5, 6, 9, 10, 11, 12, 14, 17, 19, 20, 21, 22, 23, 28, 29, 31, 32, 35, 37, 38, 39, 42, 43, 44, 45, 49, 50, 58, 60, 62, 63, 64, 72, 73, 77, 79, 82, 88, 90, 91, 92, 94, 95, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [26]:
# len(set1)+len(set4)=len(set2)+len(set3)=len(set3)+len(set4)+len(set5)
print(len(set1)+len(set4))

90

In [29]:
print(len(set2)+len(set3))

90

In [30]:
print(len(set3)+len(set4)+len(set5))

90

In [35]:
print(len(set1)+len(set4)==len(set2)+len(set3)==len(set3)+len(set4)+len(set5))

True

#### Create an empty set called `set6`.

In [33]:
set6=set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [39]:
set6.update(set3,set5)

#### Check if `set1` and `set6` are equal.

In [40]:
print(set1==set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [41]:
set2.issubset(set1)

False

In [42]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [43]:
print(set3.union(set4,set5)==set1.union(set2))

True

#### Using the `pop` method, remove the first element from `set1`.

In [46]:
set1.pop()
print(set1)

{3, 4, 5, 6, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 49, 50, 51, 52, 55, 56, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 71, 72, 73, 74, 77, 78, 79, 82, 83, 84, 85, 86, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [49]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
print(set1-set(list_to_remove))

{3, 4, 5, 6, 10, 12, 13, 14, 15, 17, 18, 20, 22, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 45, 50, 52, 55, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 72, 73, 74, 77, 78, 82, 83, 84, 85, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98}